[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = git@github.com:mit-sanctum/riscv-isa-sim.git
	branch = sanctum
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = git@github.com:mit-sanctum/riscv-fesvr.git
	branch = sanctum
[submodule "riscv-pk"]
	path = riscv-pk
	url = git@github.com:mit-sanctum/riscv-pk.git
	branch = sanctum
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = git@github.com:mit-sanctum/riscv-opcodes.git
	branch = sanctum
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
[submodule "riscv-llvm"]
	path = riscv-llvm
	url = https://github.com/riscv/riscv-llvm.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain.git
